body {
  font-family: sans-serif;
  font-size: 16px;
}

pre {
  margin: 0;
}

.share-button {
  padding: 2px;
}

.share-url {
  height: 16px;
  padding: 2px;
  vertical-align: top;
}

.error {
  color: red;
}

.format {
  display: inline-block;
}

.format .cm-line {
  padding: 0 1px;
}

.cm-tooltip-section {
  font-size: 15px;
  white-space: pre-line;
  padding: 2px;
}

.variables {
  margin-top: 4px;
  white-space: break-spaces;
  overflow-wrap: anywhere;
}

.color-0 {
  background-color: #00f3;
}

.color-1 {
  background-color: #0f03;
}

.color-2 {
  background-color: #0ff3;
}

.color-3 {
  background-color: #f003;
}

.color-4 {
  background-color: #f0f3;
}

.color-5 {
  background-color: #ff03;
}

.hl-keyword {
  color: #0000ff;
}

.hl-numeric {
  color: #098658;
}

.hl-string {
  color: #a31515;
}

.hl-operator {
  color: #000000;
}

.hl-basic-type {
  color: #0000ff;
}

.hl-type {
  color: #267f99;
}

.hl-function {
  color: #795e26;
}

.hl-function>a {
  color: inherit;
}

.hl-variable {
  color: #001080;
}

.hl-macro {
  color: #0000ff;
}

.hl-comment {
  color: #008000;
}
